<td><input class="record-edit-field" value="{{email}}"></td>
<td><input class="record-edit-field" value="{{password}}"></td>
<td><input class="record-edit-field" value="{{lastlogin}}"></td>
<td><input class="record-edit-field" value="{{isadmin}}"></td>
<td class-"update"="">
  <button type="button" class="record-update">Update</button>
  <button type="button" class="record-delete">Delete</button>
</td>