 <ul id="chat"></ul>
  <form id="send-message" method="post" action="/chat2">
    <textarea size="" id="message" name="message" placeholder="Type your message..." rows="20"></textarea>
    <input id="message-submit" type="submit"></input>
  </form>