<nav class="header">
  <span class="logo">
    <a href="/" style="text-decoration: none; color: #333;">
      <h1>Blackjack</h1>
    </a>
    <span class="{{#if user.username}}username{{/if}}">{{user.username}}</span>
    {{#if user.bankValue}}
      <span class="outer-bank">$<span class="bank-value{{#if user.debt}} debt{{/if}}">{{#if user.debt}}-{{/if}}{{user.bankValue}}</span></span>
    {{/if}}
  </span>
<!--  <span class="header-is-admin">isAdmin: {{user.isAdmin}}</span> -->
  <ul class="header-links">
    {{#if user.username}}
      <li class="header-link"><a class="mui-btn mui-btn--small mui-btn--primary mui-btn--flat" href="/lobby">Lobby</a></li>
      <li class="header-link"><a class="mui-btn mui-btn--small mui-btn--primary mui-btn--flat" href="/logout">Log out</a></li>
    {{else}}
      <li class="header-link"><a class="mui-btn mui-btn--small mui-btn--primary mui-btn--flat" href="/signup">Sign Up</a></li>
    {{/if}}
  </ul>

  <!-- Login button -->
  <!-- username -->
  <!-- dropdown ? -->
</nav>