<nav class="header">
  <span class="logo">
    <a href="/" style="text-decoration: none; color: #333;">
      <h1>Blackjack</h1>
    </a>
    <span>{{user.username}}</span>
  </span>
<!--  <span class="header-is-admin">isAdmin: {{user.isAdmin}}</span> -->
  <ul class="header-links">
    <li class="header-link"><a href="/signup">Sign Up</a></li>
    <li class="header-link"><a href="/lobby">Lobby</a></li>
    <li class="header-link"><a href="/chat">Chat</a></li>
    {{#if user.username}}
      <li class="header-link"><a href="/logout">Log out</a></li>
    {{/if}}
  </ul>

  <!-- Login button -->
  <!-- username -->
  <!-- dropdown ? -->
</nav>