<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Applejacks</title>
    <!-- Main and global styles. Must be declared before page level stylesheets. -->
    <link rel="stylesheet" href="css/main.css"/>
    <!-- page level css stylesheets -->
    <link rel="stylesheet" href="css/signup.css"/>
    <link rel="stylesheet" href="css/admin.css"/>
  </head>

  <body>
    {{#> header user=user}}
      <p>header partial not found</p>
    {{/header}}

    <!-- This is where all other pages will be rendered -->
    {{{body}}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script> -->
    <script src="js/main.js"></script>
  </body>
</html>