<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Applejacks</title>
    <link rel="stylesheet" href="css/main.css"/>
  </head>

  <body>
    {{#> header }}
      <p>header partial not found</p>
    {{/header}}

    <!-- This is where all other pages will be rendered -->
    {{{body}}}

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>