<main id="chat-page">
  <h1>Chat page</h1>
  <style>
      #chat{
         height: 350px;
         width: 350px;
         border: 1px solid #aaa;
      }
  </style>
  <body>
    <div id="chat"></div>
    <form id="send-message" method="post" action="/chat2">
      <input size="35" id="message" name="message"></input>
      <input type="submit"></input>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.runtime.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js'></script>
    <script>
      /**
       * A function to abstract away the native fetch()
       *
       * @param {String} url The url string being accessed
       * @param {Object} data The options data used to create a Request
       *
       * @returns {Promise} A promise that resolves a server or api response as json
       */
      const makeAPICall = (url, data) => {
        let options = {method, headers, mode, cache} = data;

        options.mode = options.mode || 'same-origin';
        if (options.headers === undefined) {
          options.headers = new Headers();
          options.headers.append("Content-type", "application/json");
          options.headers.append("Accept", "application/json, text/plain");
        }

        let request = new Request(url, options);

        return fetch(request).then((response) => response.json());
      };

      const messageForm = document.querySelector('#send-message');
      messageForm.addEventListener('submit', (evt) => {
        evt.preventDefault();
        const message =  document.querySelector('#message');
        const form = {
          message: message.value || ''
        };

        makeAPICall('/chat2', {
          "method": "post",
          "body": JSON.stringify(form)
        }).then(() => message.value = '');
      });


      var socket = io.connect('http://localhost:3000/');
      socket.on('news', function (data) {
        console.log('DATA RECEIVED', data);
        $('#chat').append('<p>' + data.hello + '</p>');
        socket.emit('my other event', { my: 'data' });
      });

      //
    </script>

  </body>
</main>