<main id="lobby-page">
  <div class="mui-container-fluid mui-panel">
    <table class="mui-table mui-table--bordered games-list">
      <thead>
        <tr>
          <th>Game</th>
          <th>Capacity</th>
          <th>Join</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Game 1</td>
          <td>1/4</td>
          <td><button type="button" data-action-join-game class="mui-btn mui-btn--raised mui-btn--primary join-game">Join Game</button></td>
        </tr>
        <tr class="lobby-page--table-item__full">
          <td>Game 2</td>
          <td>4/4</td>
          <td><button type="button" data-action-join-game disabled class="mui-btn mui-btn--raised mui-btn--primary join-game">Join Game</button></td>
        </tr>
        {{#each games}}
          <tr>
            <td>{{name}}</td>
            <td>{{count}}/{{maxCapacity}}</td>
            <td><button type="button" data-action-join-game class="mui-btn mui-btn--raised mui-btn--primary">Join Game</button></td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <button type="button"data-action-create-game class="mui-btn mui-btn--raised">Create Game</button>
  </div>
</main>
