<main id="lobby-page">
  <h1>Lobby</h1>

  <table class="lobby-page--table">
    <tbody>
      {{!-- Example data --}}
      <tr class="lobby-page--table-item">
        <td>Game 1</td>
        <td>1/4</td>
      </tr>
      <tr class="lobby-page--table-item__full">
        <td>Game 2</td>
        <td>4/4</td>
      </tr>
      {{!-- Loop over each game and display as a row in lobby table --}}
      {{#each games}}
        <tr>
          <td>{{name}}</td>
          <td>{{count}}/{{maxCapacity}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>


</main>

&emsp;&emsp;&emsp;
<button type = button"
onclick='document.getElementById("lobby-page").innerHTML = "Go to Game Room"'>Join Game</button>

&emsp;&emsp;
<button type = button"
onclick='document.getElementById("create-game").innerHTML = "New Game created : Game#"'>Create New Game</button>

<p id="create-game"> 

<!-- add js files here -->
<script src="js/lobby.js"></script>
