<p class="error-message">{{err}}</p>
<main id="signup-page" style="display: flex; align-items: center; justify-content: space-around;">

<div class="mui--z1">
  <form action="/login" method="post" class="mui-form--inline login" id="login-form">
    <div class="mui-textfield mui-textfield--float-label">
      <input type="email" class="user-input" name="email" aria-required="true" required autofocus/>
      <label>Email</label>
    </div>

    <div class="mui-textfield mui-textfield--float-label">
      <input type="password" class="user-input" name="pwd" aria-required="true" required/>
      <label>Password</label>
    </div>

    <button type="submit" class="mui-btn mui-btn--raised form-submit">Log In</button>
  </form>

  <p class="mui-container mui--text-danger login-error"></p>
</div>

  <div class="or">Or</div>

  <form action="/signup" method="post" class="mui-form mui--z1 signup" id="signup-form">
    <legend>Sign Up</legend>

    <div class="mui-textfield mui-textfield--float-label">
      <input type="text" class="user-input" name="username" aria-required="true"/>
      <label>Username</label>
    </div>

    <div class="mui-textfield mui-textfield--float-label">
      <input type="email" class="user-input" name="email" aria-required="true" required/>
      <label>Email</label>
    </div>

    <div class="mui-textfield mui-textfield--float-label">
      <input type="password" class="user-input" name="pwd" aria-required="true" required/>
      <label>Password</label>
    </div>

    <div class="mui-textfield mui-textfield--float-label">
      <input type="password" class="user-input"  name="pwdConfirm" aria-required="true" required/>
      <label>Confirm Password</label>
    </div>

    <button type="submit" class="mui-btn mui-btn--raised form-submit">Submit</button>
  </form>

</main>
