<h2 class="log-in-title">Log In</h2>

<form action="/login" method="post">
  <label>
    <span class="sr-only">User email</span>
    <input type="email" class="user-input" placeholder="Email..." name="email" aria-required="true" required/>
  </label>


  <label>
    <span class="sr-only">User password</span>
    <input type="password" class="user-input" placeholder="Password..." name="pwd" aria-required="true" required/>
  </label>

  <input type="submit" class="login-submit-btn" />
</form>

<h2 class="sign-up-title">Sign Up</h2>