<p class="error-message">{{err}}</p>
<main id="signup-page" style="display: flex; align-items: center; justify-content: space-around;">

  <form action="/login" method="post" class="mui-form--inline mui--z1 login">
    <div class="mui-textfield mui-textfield--float-label">
      <input type="email" class="user-input" name="email" aria-required="true" required autofocus/>
      <label>Email</label>
    </div>

    <div class="mui-textfield mui-textfield--float-label">
      <input type="password" class="user-input" name="pwd" aria-required="true" required/>
      <label>Password</label>
    </div>

    <button type="submit" class="mui-btn mui-btn--raised form-submit">Log In</button>
  </form>

  <div class="or">Or</div>

  <form action="/signup" method="post" class="mui-form mui--z1">
    <legend>Sign Up</legend>

    <div class="mui-textfield mui-textfield--float-label">
      <input type="email" class="user-input" name="email" aria-required="true" required/>
      <label>Email</label>
    </div>

    <div class="mui-textfield mui-textfield--float-label">
      <input type="password" class="user-input" name="pwd" aria-required="true" required/>
      <label>Password</label>
    </div>

    <div class="mui-textfield mui-textfield--float-label">
      <input type="password" class="user-input"  name="pwdConfirm" aria-required="true" required/>
      <label>Confirm Password</label>
    </div>

    <button type="submit" class="mui-btn mui-btn--raised form-submit">Submit</button>
  </form>

</main>
