<p class="error-message">{{err}}</p>
<main id="signup-page">
  <h2>WELCOME TO APPLEJACKS! <br><br></h2>
  <h2 class="log-in-title">Log in</h2>

<form action="/login" method="post">
    <label>
      <span class="sr-only">User email</span>
      <input type="email" class="user-input" placeholder="Email..." name="email" aria-required="true" required autofocus/>
    </label>


    <label>
      <span class="sr-only">User password</span>
      <input type="password" class="user-input" placeholder="Password..." name="pwd" aria-required="true" required/>
    </label>

    <input type="submit" login class="login-submit-btn" value="Log in"/>
  
  </form>


  <h2 class="sign-up-title">Sign Up</h2>
<form action="/signup" method="post">
    <label>
      <span class="sr-only">User email</span>
      <input type="email" class="user-input" placeholder="Email..." name="email" aria-required="true" required/>
    </label>


    <label>
      <span class="sr-only">User password</span>
      <input type="password" class="user-input" placeholder="Password..." name="pwd" aria-required="true" required/>
    </label>

    <label>
      &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&thinsp;&thinsp;
      <span class="sr-only">User password confirm</span>
      <input type="password" class="user-input" placeholder="Confirm password..." name="pwdConfirm" aria-required="true" required/>
    </label>

    <input type="submit" class="login-submit-btn" value= "Sign Up"/> 
   
  </form>

 
</main>
