/*  margin-top: calc(var(--gap) * 1px); /* niiiiice */
:root {
  --user-section-height: 220px;
  --card-width: calc(var(--user-section-height) * 3 / 5);
}

#game-page {
  width: 75%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.bust {
  font-size: 42px;
  font-weight: bold;
  color: #ff3333;
  opacity: .9;
  font-family: sans-serif;
  display: none;
    border: 1px solid;
    border-radius: 2px;
    padding: 0 4px;
}

.your-turn {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  opacity: .8;
  float: left;
  color: #0080ff;
}

.your-turn:after {
   content: '';
   position: relative;
   left: 9px;
   top: 13px;
   width: 0;
   height: 0;
   border-left: 6px solid transparent;
   border-right: 6px solid transparent;
   border-top: 8px solid #005ab3;
   clear: both;
   display: none;
}

.user-section {
  display: block;
  clear: both;
  border: 1px solid #bbb;
  height: var(--user-section-height);
  width: 90%;
  position: relative;
  /* temporary */
  bottom: 4px;
  position: absolute;
  width: 75%;

  display: flex;
    justify-content: space-between;
}

.place-bet {
  margin-bottom: 100px;

  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
      align-items: flex-end;

}

.clearfix:after {
  display: block;
  width: 0;
  clear: both;
  content: "";
}

.user-section--actions {
  display: flex;
  float: right;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: var(--user-section-height);

  width: 30%;
}

.dealer-hand {
  display: flex;
}

.rest-of-table {
  height: 150px;
  border: 1px solid;
  width: 90%;
}

.user-section--hand {
  display: inline-block;
  height: 100%;
  width: 70%;
      display: inline-flex;
}

.play-again-btn {

}

.hidden {
  display: none;
}

.user-section--card {
  margin: 0;
  height: 100%;
  width: var(--card-width);
}

.user-secction--action__btn {
  flex: .3;
  background-color: #fff;
  border: 1px solid #aaa;
}

.user-secction--action__btn:active {
  background-color: #ddd;
}

.chat-section {
  background-color: lightblue;
  height: calc(100% - 65px);
  width: 25%;
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 65px;
  right: 0;
}

#chat {
  height: calc(100% - 120px);
  width: 100%;
  background-color: #FFF;
  box-sizing: border-box;
  border: 1px solid #aaa;
  overflow: scroll;
}

#chat > li {
  padding: 5px 0;
}