#lobby-page {
  padding: 20px 24px 0;
}

#user-info {
  display: hidden;
  opacity: 0;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
}

.lobby-page--table {
  margin: 20px;
  border: 1px solid #aaa;
  width: 300px;
}

.lobby-page--table-item {
  cursor: pointer;
}

.lobby-page--table-item:hover {
  background-color: lightblue;
}

.lobby-page--table-item__full {
  opacity: .3;
  cursor: initial;
}

button.d {
  display: inline-block;
}

button.m {
  display: none;
}

@media (max-width:500px) {
  tr.game {
    /*display: block;*/
  }

  button.d {
    display: none;
  }

  button.m {
    display: inline-block;
    padding: 0 4px;
  }
}