/* Global css */
body, h1, h2, h3, h4, h5, ul, ol {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

ul, ol {
  list-style: none;
}

.header {
  height: 50px;
  padding: 0 24px;
  margin: 0;
  box-shadow: 0px 4px 20px 0px #efefef;
  color: #333;
  position: relative;
  display: flex;
  align-items: center;
}

.header-links {
  position: absolute;
  right: 24px;
}

.header-link {
  float: left;
}

.header-link a {
  color: #333;
  padding: 4px 8px;
  border-radius: 3px;
  margin: 0 4px;
}

.header-link a:hover {
  background-color: #eee;
}

.header-link a:visited,
.header-link:active {
  color: #333;
}

.header-is-admin {
  margin-left: 10px;
  opacity: .8;
}

.sr-only {
  clip-path: inset(1px);
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
}