/* Global css */
body, h1, h2, h3, h4, h5, ul, ol {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

ul, ol {
  list-style: none;
}

.header {
  height: 50px;
  padding: 0 24px;
  margin: 0;
  box-shadow: 0px 4px 20px 0px #efefef;
  color: #333;
  position: relative;
  display: flex;
  align-items: center;
}

.header-links {
  position: absolute;
  right: 24px;
}

.header-link {
  float: left;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.username {
  margin-left: 15px;
  padding: 2px 10px;
  border-radius: 3px;
  background-color: #5531a5;
  color: #fff;
  font-size: 16px;
}

.logo h1 {
  margin: 0;
}

.header-link a {
  text-decoration: none;
}

.header-link a:visited,
.header-link:active {
  color: #333;
}

.header-is-admin {
  margin-left: 10px;
  opacity: .8;
}

.sr-only {
  clip-path: inset(1px);
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
}