#signup-page {
  padding: 12px 24px 0;

  border: 1px solid #aaa;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: lightblue;
}

.log-in-title {

}

.sign-up-title {
  margin: 30px 0 0;
}

.user-input {

}

.login-submit-btn {
  
}
